.country-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin:30px auto 0;
    background: white;
    padding:50px;
}
.back-button{
    height:30px;
    width:70px;
    border:none;
    border-radius: 5px;
    
}
.countries{
    display: flex;
    flex-wrap:wrap;
    /* margin-right:auto; */
    justify-content: space-between;
}
.countries div{
    /* padding:10px; */
    width:23%;
    /* background-color: aqua; */
}

.single{
    margin:20px 0;
    background-color:hsl(0, 0%,100%);
}
.flag{
    height: 25vh;
    width:21.8vw;
}
.name{
    font-weight: 600;
    font-size: 1rem;
    width:20vw;

}
.country-details{
    padding:20px 20px;
    text-align: start;
    /* width:23vw;
    background: white; */
}
.denotion{
    font-weight: 600;

}
.other-details{
    font-size: 0.7rem;
    display: block;
    width:20vw;
}
.search-filter{
    width:100%;
    display: flex;
    justify-content: space-between;
    padding:20px 0;
}
.country{
    display: flex;
    text-align: start;
    width:90%;
    margin:50px 0 0;
    justify-content: space-between;
    /* justify-content: flex-start; */
    align-items: flex-start;
    /* background: blue; */

}
.border-country-button{
    /* text-decoration: none; */
    height:15px;
    width:50px;
    /* margin:0 3px; */
    font-size:0.5rem;
    border:none;

}
.link{
    text-decoration: none;
    color:black;

}
.details-section{
    display:flex;
    font-size: 0.7rem;
    justify-content: space-between;
}
.border-countries{
    position: relative;
    font-size:0.7rem;
    /* background-color: blue */
}
.heading{
    font-weight: 600;
}
.border-countries-div{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-gap: 3px;
    position: absolute;
    top: 0px;
    left: 110px;

    /* background-color: red; */

}
/* .shekar{
    margin:0 10px;
} */