.App {
  text-align: center;
  width:94%;
  margin:0 auto;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height:10vh;
  background: rgb(77, 81, 82);
  color:white;
}
.nav-links{
  width:40%;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;

}